<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooking Recipes</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <div class="formContainer">
        <div class="innerBox">
            <h1 class="formTitle">Your saw some really tasty dishes?</h1>
            <h1 class="formTitle">Tell me about it.</h1>
            <form action="/submit-recipe" method="POST" class="form"> 
                <input class="formText" type="text" name="title" placeholder="What is the dish?">
                <textarea class="formBigText" name="idea" id="" cols="30" rows="10" placeholder="Recipe" required></textarea>
                <input class="formButton" type="submit" value="Post">
            </form>
        </div>
    </div>
</body>
</html>